body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #656565;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    height: 120px;
    background-color: #aceb85;
    color: white;
    align-items: center;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 200px;
}

.grid-item {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* Estilos específicos para diferentes secciones */
#quienes-somos {
    grid-column: 1 / -1;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #quienes-somos {
        grid-column: 1 / -1;
    }

    #formulario {
        grid-column: span 3;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #quienes-somos {
        grid-column: 1 / -1;
    }

    #formulario {
        grid-column: span 2;
    }
}

/* Estilos para impresión */
@media print {
    body {
        color: #000;
        background-color: #fff;
    }
    
    header, footer {
        background-color: #fff;
        color: #000;
    }
}

/* Estilos para listas y tablas */
ul {
    list-style-type: square;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

